@import "@fontsource/press-start-2p";

@font-face {
  font-family: "Pixeboy";
  src: url("/fonts/Pixeboy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-pixel: "Pixeboy", "Press Start 2P", monospace;
}
